* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-smoothing: antialiased;
}

body {
  font-family: Lato;
}
  
.grid {
  margin: 0 auto,
  background: #DDD;
}

.grid-item {
  width: 200px;
  height: 300px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  margin: 10px; 
  float: left;
}

.grid-item {
  display: block;
  max-width: 100%;
}

/* unused */
.grid-item-2 {
   width: 400px;
}
