* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-smoothing: antialiased;
}

body {
  font-family: Lato;
  background: rgb(245, 245, 245);
  color: rgb(86, 90, 92);
}

h1, h5 {
  text-align: center;
}
 
.grid {
  margin: 0 auto;
} 

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 400px;
}

.grid-item {
  float: left;
  margin-bottom: 30px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.caption, .link {
  display: none;
}

.fancybox {
  cursor: url('../img/examine-cursor.png'), pointer;
}

