* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-smoothing: antialiased;
}

body {
  font-family: Lato;
  background: #FFFEF0;
}
 
.grid {
  margin: 0 auto;
} 

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 400px;
}

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

